<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>bilibili图片上传</title>
  <meta name="referrer" content="no-referrer" />
  <script src="./src/js/vue.js"></script>
  <script src="./src/element/element.js"></script>
  <link href="./src/element/element.css" rel="stylesheet" />
  <link rel="stylesheet" href="./src/css/upload.css" />
</head>

<body>
  <div id="app" @paste="handleTPaste" v-loading="loading">
    <!-- 配置弹窗 -->
    <el-row type="flex" class="row-bg" justify="space-between">
      <el-col :span="6">
        <el-button type="text" @click="dialogVisible = true" icon="el-icon-s-tools">配置</el-button>
      </el-col>
      <el-col :span="6">
        <el-link type="primary" href="./">上传</el-link>
        &nbsp;&nbsp;
        <el-link type="primary" href="./list.html">列表</el-link>
      </el-col>
    </el-row>

    <el-dialog title="配置" :visible.sync="dialogVisible" width="30%" :close-on-click-modal="false"
      :append-to-body="true">
      <div>
        重制版<el-link type="primary" href="https://github.com/lovezsh/bilibili-uploads-img">Github</el-link>，
        基于 <el-link type="primary"
          href="https://github.com/xlzy520/bili-short-url">https://github.com/xlzy520/bili-short-url</el-link> 二次开发。
      </div>
      <div class="config-item">
        <div class="config-item-label">SESSDATA：</div>
        <div class="config-item-value">
          <el-input v-model="SESSDATA" placeholder="请输入SESSDATA"></el-input>
        </div>
      </div>
      <div class="config-item">
        <div class="config-item-label">bili_jct：</div>
        <div class="config-item-value">
          <el-input v-model="bili_jct" placeholder="请输入bili_jct"></el-input>
        </div>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="saveConfig">保存配置</el-button>
      </span>
    </el-dialog>
    <!-- 配置弹窗 -->
    <div class="form upload-container">
      <el-upload ref="upload" :action="action" multiple list-type="picture-card" :file-list="fileList"
        :show-file-list="false" :on-preview="handlePictureCardPreview" :http-request="handleUpload">
        <i class="el-icon-plus"></i>
        <div class="ctrlv">支持 ctrl+v 上传</div>
      </el-upload>
    </div>
    <div class="short-url">
      <div v-show="!hasValue" class="short-url-item bg-gray"></div>

      <template>
        <el-table :data="list" border style="width: 100%">
          <el-table-column prop="name" label="图片" width="120">
            <template v-slot="scope">
              <img class="upload-img" :src="scope.row.localUrl" />
            </template>
          </el-table-column>
          <el-table-column prop="url" label="url">
            <template v-slot="scope">
              <a rel="noreferrer" :href="scope.row.url" target="_blank">
                {{scope.row.url}}
              </a>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="100">
            <template v-slot="scope">
              <el-button size="small" type="primary" @click="copy(scope.row.url)">复制</el-button>
            </template>
          </el-table-column>
        </el-table>
      </template>

    </div>

  </div>

  <script>
    const isDev = location.hostname === 'localhost';
    const baseUrl = isDev ? 'http://localhost:5500' : 'https://service-ijd4slqi-1253419200.gz.apigw.tencentcs.com/release';

    const app = new Vue({
      el: '#app',
      data() {
        return {
          loading: false,
          dialogImageUrl: '',
          // action: 'https://jsonplaceholder.typicode.com/posts/',
          action: baseUrl + '/bili/upload',
          fileList: [],
          list: [],
          SESSDATA: '',
          bili_jct: '',
          dialogVisible: false,
        };
      },
      computed: {
        hasValue() {
          return this.list.length > 0;
        },
      },
      methods: {
        saveConfig() {
          localStorage.setItem('SESSDATA', this.SESSDATA);
          localStorage.setItem('bili_jct', this.bili_jct);
          this.$message.success('保存成功');
          this.dialogVisible = false;
          console.log('777');
        },
        copyTextToClipboard(input) {
          var el = document.createElement('textarea');

          el.value = input;

          // Prevent keyboard from showing on mobile
          el.setAttribute('readonly', '');

          el.style.contain = 'strict';
          el.style.position = 'absolute';
          el.style.left = '-9999px';
          el.style.fontSize = '12pt'; // Prevent zooming on iOS

          var selection = getSelection();
          var originalRange = false;
          if (selection.rangeCount > 0) {
            originalRange = selection.getRangeAt(0);
          }

          document.body.appendChild(el);
          el.select();

          // Explicit selection workaround for iOS
          el.selectionStart = 0;
          el.selectionEnd = input.length;

          var success = false;
          try {
            success = document.execCommand('copy');
          } catch (err) { }

          document.body.removeChild(el);

          if (originalRange) {
            selection.removeAllRanges();
            selection.addRange(originalRange);
          }

          return success;
        },
        copy(url) {
          this.copyTextToClipboard(url);
          this.$message({
            message: '复制成功',
            type: 'success',
          });
        },
        filterImages(items) {
          let i = 0;
          while (i < items.length) {
            if (items[i].type.includes('image')) {
              return items[i];
            }
            i++;
          }
          return false;
        },
        getFilename(e) {
          let value;
          if (window.clipboardData && window.clipboardData.getData) {
            value = window.clipboardData.getData('Text');
          } else if (e.clipboardData && e.clipboardData.getData) {
            value = e.clipboardData.getData('text/plain');
          }
          value = value.split('\r');
          return value[0];
        },
        getPasteImg(event) {
          if (event.clipboardData && event.clipboardData.items) {
            const image = this.filterImages(event.clipboardData.items);
            if (image) {
              event.preventDefault();
              const file = image.getAsFile();
              const name =
                this.getFilename(event) || `image-${Date.now()}.png`;
              file.uid = name;
              const url = URL.createObjectURL(file);
              return {
                name,
                file,
                raw: file,
                uid: name,
                status: 'ready',
                url,
              };
            }
          }
        },
        handlePictureCardPreview(file) {
          this.dialogImageUrl = file.url;
          this.dialogVisible = true;
        },
        handleTPaste(event) {
          const image = this.getPasteImg(event);
          if (image) {
            this.fileList.push(image);
            this.$nextTick(() => {
              this.$refs.upload.submit(image);
            });
          }
        },
        handleUpload({ file }) {
          if (this.SESSDATA == '' || this.bili_jct == '') {
            this.$message.error('未配置！');
            return false;
          }
          const reader = new FileReader();
          // 当文件读取完成后执行的回调函数
          reader.onload = (evt) => {
            const base64 = reader.result;
            // 上传图片
            this.loading = true;
            fetch(this.action, {
              method: 'POST',
              body: JSON.stringify({
                cover: base64,
                csrf: this.bili_jct,
                SESSDATA: this.SESSDATA,
              }),
              headers: {
                'Content-Type': 'application/json',
              },
            })
              .then((res) => res.json())
              .then((res) => {
                this.loading = false;
                if (res.success) {
                  this.$message.success('上传成功');
                  const url = res.data.url;
                  file.url = url;
                  file.status = 'success';
                  // this.fileList.push(file);
                  this.list.push({
                    url,
                    name: file.name,
                    localUrl: file.url,
                  });
                  console.log(this.list);
                  const imglist = JSON.parse(localStorage.getItem("imglist"));
                  imglist.push({
                    url,
                    name: file.name,
                    localUrl: file.url,
                  });
                  localStorage.setItem("imglist", JSON.stringify(imglist));
                }
              })
              .catch(() => {
                this.fileList.pop();
                this.$message.error('上传失败');
              });
          };
          // 读取文件
          reader.readAsDataURL(file);
        },
      },
      mounted() {
        this.SESSDATA = localStorage.getItem('SESSDATA') || '';
        this.bili_jct = localStorage.getItem('bili_jct') || '';
        if (!localStorage.getItem('imglist')) {
          localStorage.setItem('imglist', []);
        }
      },
    });
  </script>
</body>

</html>