<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>bilibili图片上传</title>
  <meta name="referrer" content="no-referrer" />
  <script src="/js/vue.js"></script>
  <script src="/element/index.js"></script>
  <link href="/element/index.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/upload.css" />
</head>

<body>
  <div id="app" @paste="handleTPaste" v-loading="loading">
    <%- include('components/sidebar'); %>

      <%- include('components/config'); %>
        <!-- 配置弹窗 -->
        <%- include('modules/index/index'); %>

  </div>
  <%- include('modules/index/script'); %>

</body>

</html>