<div class="short-url">
  <template>
    <el-table :data="imglist" border style="width: 100%">
      <el-table-column prop="name" label="图片" width="120">
        <template v-slot="scope">
          <img class="upload-img" :src="scope.row.localUrl" />
        </template>
      </el-table-column>
      <el-table-column prop="url" label="url">
        <template v-slot="scope">
          <a rel="noreferrer" :href="scope.row.url" target="_blank">
            {{scope.row.url}}
          </a>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="125">
        <template v-slot="scope">
          <el-button size="small" type="primary" @click="copy(scope.row.url)">复制</el-button>
          <el-button size="small" type="danger" icon="el-icon-delete" circle
            @click.native.prevent="deletedata(scope.$index, imglist)"></el-button>
        </template>
      </el-table-column>
    </el-table>
  </template>

</div>